.front_table * {
  font-family: "Bubblegum Sans", cursive !important;
}
.ani {
  display: flex;
  justify-content: center;
  position: relative;
  object-fit: cover;
}
.box {
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-radius: 2px;
  margin: auto;
  object-fit: contain;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  border: none;
  font-size: 1.5rem;
  width: fit-content;
}
td {
  font-size: 1.5rem;
}
.main_data {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  object-fit: contain;
}
.box_group {
  width: 160px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
tr {
  display: flex;
}
.main {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main_title1 {
  width: 300px;
  border: none;
}
.main_title2 {
  width: 160px;
  border: none;
}
.data_field {
  border-bottom: 2px solid black;
  padding-left: 10px;
  object-fit: contain;
}
.last_data {
  border: none;
}
.box img {
  width: 40px;
  position: relative;
  right: 5px;
  bottom: 10px;
  object-fit: contain;
}
