.carouselSlider {
	position: relative;
	margin: 5rem 0;
}

.carouselSliderLeft,
.carouselSliderRight {
	position: absolute;
	top: 40%;
	cursor: pointer;
	z-index: 5;
}

.carouselSliderLeft {
	left: 35.5%;
}

.carouselSliderRight {
	right: 36%;
}

.carouselSliderImages {
}

.slide {
}

.slide.active {
}

/* CarouselItem Component */
.carouselSliderItem {
  perspective: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* overflow: hidden; */
}

.carouselSliderItem > img {
  height: 20rem;
	transform-style: preserve-3d;
  /* transition: all 1s linear; */
}

#carouselSliderItemLeftLeft {
	transform: rotate3d(0, 1, 0, 50deg) scale(0.8);
	clip-path: url(#myCurve2);
}

#carouselSliderItemLeft {
	transform: rotate3d(0, 1, 0, 25deg);
	clip-path: url(#myCurve1);
}

#carouselSliderItemCenter {
	transform: scale(1.2);
	margin: 0 3rem;
}

#carouselSliderItemRight {
	transform: rotate3d(0, 1, 0, -25deg);
	clip-path: url(#myCurve1);
}

#carouselSliderItemRightRight {
	transform: rotate3d(0, 1, 0, -50deg) scale(0.8);
	clip-path: url(#myCurve2);
}

@media screen and (max-width: 426px) {
}
