.carouselSlider {
	display: block;
	margin: 0 auto;
	width: 98%;
	height: 100%;
	position: relative;
}

.carouselSliderImages {
}

.carouselSliderImagesDiv{
  display: flex;
  justify-content: center;
}

.carouselSliderImagesDiv > img {
	cursor: grab;
}

.carouselSliderImagesDiv > img:active {
	cursor: grabbing;
}

.slick-prev {
	left: 1rem;
	z-index: 100;
}

.slick-next {
	right: 1rem;
	z-index: 100;
}

.slick-prev:before,
.slick-next:before {
	font-size: 2rem;
	opacity: 0.75;
	color: rgb(0, 0, 0);
}

@media screen and (max-width: 426px) {
}

.slide {
	opacity: 0.8;
	transform: translateX(-10%);
}

.slide.active {
	opacity: 1;
	transform: translateX(0%);
	transition: transform 1s ease-in;
}

.carouselSliderItem > img {
	/* clip-path: url(#myCurve); */
	height: 20rem;
	top: -10rem;
}

#carouselSliderItemCenter {
	position: absolute;
	left: 41%;
	transform: scale(1.2);
}
