.carouselSlider {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: min(25rem, 70vw);
	padding: 0 1vw;
}

.carouselSliderImagesDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CarouselItem Component */
.carouselSliderItem {
	perspective: 1500px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 1rem; */
}

.carouselSliderLeft,
.carouselSliderRight {
	cursor: pointer;
	z-index: 5;
}

.carouselSliderItem > img {
	height: 15vw;
	width: auto;
	transform-style: preserve-3d;
}

#carouselSliderItemLeftLeft {
	transform: rotate3d(0, 1, 0, 50deg);
	clip-path: url(#myCurve2);
}

#carouselSliderItemLeft {
	transform: rotate3d(0, 1, 0, 25deg) scale(1.2);
	clip-path: url(#myCurve1);
  margin-left: 1rem;
}

#carouselSliderItemCenter {
  transform: scale(1.4);
	z-index: 10;
	margin: 0 1rem;
}

#carouselSliderItemRight {
  transform: rotate3d(0, 1, 0, -25deg) scale(1.2);
	clip-path: url(#myCurve1);
  margin-right: 1rem;
}

#carouselSliderItemRightRight {
	transform: rotate3d(0, 1, 0, -50deg);
	clip-path: url(#myCurve2);
}

@media screen and (max-width: 1200px) {
	.carouselSliderItem > img {
		height: 17vw;
	}
}

@media screen and (max-width: 1000px) {
	.carouselSliderItem > img {
		height: 20vw;
	}

	#carouselSliderItemLeftLeft {
		display: none;
	}

	#carouselSliderItemRightRight {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.carouselSliderItem > img {
		height: 25vw;
	}
}

@media screen and (max-width: 600px) {
	.carouselSliderItem > img {
		height: 30vw;
	}
}

@media screen and (max-width: 500px) {
	.carouselSliderItem > img {
		height: 40vw;
	}

	#carouselSliderItemLeft {
		display: none;
	}

	#carouselSliderItemRight {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.carouselSliderItem > img {
		height: 45vw;
	}
}

@media screen and (max-width: 300px) {
	.carouselSliderItem > img {
		height: 55vw;
	}
}
