.outer_container {
  width: 200px;
  height: 300px;
  flex-shrink: 1;
  margin: 10px;
}
.cards_image {
  width: 100%;
  height: 100%;
}
.cards_section {
  margin: 20px auto;
  width: 65%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .outer_container {
    width: 200px;
    height: 320px;
  }
  .cards_section {
    width: 97%;
  }
}
@media screen and (max-width: 550px) {
  .outer_container {
    width: 150px;
    height: 232px;
  }
  .cards_section {
    width: 99%;
  }
}
