.profile__container * {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.profile__container {
  background: #eeeeee;
  padding: 32px;
  min-height: 93vh;
}

.profile__container .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
}

.profile__container .profile__heading {
  color: #3d4372 !important;
  border-bottom: 4px solid #f06f38;
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  margin-bottom: 24px;
}

.profile__container .container div {
  margin-bottom: 16px;
}

.profile__container input,
.profile__container textarea,
.profile__container select {
  background: #eeeeee;
  padding: 8px;
  border: 1px solid #787878;
  border-radius: 2px;
  width: 75%;
  color: #787878;
}

.profile__container .container p {
  margin-bottom: 4px;
  color: #787878;
}

.profile__container .names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.profile__container .btn {
  display: inline-block;
  margin-top: 16px;
  border-radius: 8px;
  background: #f06f38;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 30%;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.profile__container .right__container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile__container .right__container p {
  font-size: 24px;
}

.profile__container .right__container .avatar__header {
  width: 100%;
  height: fit-content;
}

.profile__container .right__container .avatar__header .avatar__h {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  min-width: 180px;
}

.profile__container .right__container .avatars {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.profile__container .right__container .avatars img {
  cursor: pointer;
  width: 5rem;
}
