@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');



.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  height: 650px;
  position: relative;

  padding: 8px;
  border-radius:32px;

}
