@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.GamePad {
  width: 400px;
  height: 535px;
  /* border: solid black 1px; */
  margin: auto;
  position: absolute;
  /* background-image: url('../MissionMarsFiles/assets/backgrounds/Frame.png'); */
  background-position: center;
  background-size: cover;
  padding-top: 1px;
  /* background: red; */
}
.game{
  height:535px;
  width:400px;
  position:fixed;
}
