* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* #game {
  width: 400px;
  height: 535px;
  margin: auto;
  position: relative;
  padding-top: 1px;
  background-size: cover;
} */
.container {
  width: 400px;
  height: 535px;
  margin: auto;
  position: relative;
  padding-top: 1px;
  background-size: cover;
  background-image: url("./assets/background.png");
}

.upper_input {
  background-image: url("./assets/subject.png");
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
}
input {
  width: 60px;
}
.upper {
  margin-left: 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  /* margin-right: 2px; */
}
.lower {
  margin-left: 0px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  /* width: 600px; */
}

.mark {
  margin-top: 100px;
  margin-left: 12px;
}
.max_mark {
  margin-top: 10px;
  margin-left: 20px;
}
button {
  width: 60px;
  height: 20px;
  margin-top: 1px;
  margin-left: 10px;
  border-radius: 8px;
  border: solid 3px green;
  background: green;
  justify-items: center;
}

#result {
  height: 100px;
  width: 100px;
  margin-top: 100px;
  margin-left: 180px;
}
.submits {
  margin-top: 10px;
  display: flex;
}
.per {
  width: 80px;
}
