body {
  margin: 0;
  padding: 0;
}
.Phone {
  /* border: 1px solid black; */
  height: 535px;
  width: 400px;
  margin: 0;
  background-image: url('./assets/bg.svg');
}

.box {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 287px;
  /* border: 1px solid white; */
  margin: 0 auto 0 auto;
  /* box-sizing: border-box; */
}

.loki {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
  height: 100px;
  /* box-sizing: border-box;
  border: 1px solid red; */
  border-bottom: 5px solid black;
}

.loki div {
  height: 100px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.fireball {
  display: flex;
  flex-wrap: wrap;
  width: 284px;
  height: 198px;
  /* box-sizing: border-box;
  border: 1px solid blue; */
}

.fireball div {
  height: 40px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.ironman {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
  height: 100px;
  border-bottom: 5px solid black;
  /* box-sizing: border-box;
  border: 1px solid green; */
}

.ironman div {
  height: 100px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.loki_bg {
  background: url('./assets/loki.svg') no-repeat center;
}

.ironman_bg {
  background: url('./assets/ironman.svg') no-repeat center;
}

.fireball_bg {
  background: url('./assets/fireball.svg') no-repeat center;
}

.thunder_bg {
  background: url('./assets/thunder.svg') no-repeat center;
}

.GameDisplay {
  background: url('./assets/GameOver.svg') no-repeat center;
  position: absolute;
  top: 30%;
  left: 30%;
  height: 150px;
  width: 180px;
  display: none;
}

.InteractioPad {
  margin: 15px 0 0 140px;
}

.right_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url('./assets/right.svg') no-repeat center;
  background-size: 40px 40px;
  border: none;
  outline: none;
}

.left_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url('./assets/left.svg') no-repeat center;
  background-size: 40px 40px;
  border: none;
  outline: none;
}

.restart_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url('./assets/restart.svg') no-repeat center;
  border: none;
  outline: none;
}

.ironman_fireball {
  background-image: url('./assets/fire.gif'), url('./assets/ironman.svg');
  background-size: 50px 100px;
}
