* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.userNavbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  border: 1px solid gray;
}

.userNavbar .link {
  display: flex;
}

.userNavbar .logo {
  width: 200px;
  height: 79px;
}

.userNavbar .link a,
.mobile__links a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #6e6e6e;
  font-family: 'Lato', sans-serif;
  margin-right: 32px;
}

.userNavbar .link a p {
  margin-top: -4px;
}

.optionBox {
  /* border: 1px solid black; */
  width: 400px;
  text-align: center;
  vertical-align: baseline;
}

.username {
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 100px;
}

@media (max-width: 1000px) {
  .userNavbar {
    padding: 16px;
    padding-right: 0;
  }

  .userNavbar .logo {
    width: 200px !important;
    height: 79px !important;
  }
  .userNavbar .link a {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .userNavbar {
    padding: 0 16px;
  }
  .userNavbar .logo {
    width: 120px;
  }
  .userNavbar .link {
    display: none;
  }

  .userNavbar .bars {
    display: flex;
  }
}

.dropbtn {
  /* background-color: #4caf50; */
  color: black;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}
