* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.userNavbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  /* border: 1px solid gray; */
}

.userNavbar .link {
  display: flex;
}

.userNavbar .logo {
  width: 200px;
  height: 79px;
}

.userNavbar .link a,
.mobile__links a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #6e6e6e;
  font-family: 'Lato', sans-serif;
  margin-right: 32px;
}

.userNavbar .link a p {
  margin-top: -4px;
}

.optionBox {
  border: 1px solid black;
  width: 400px;
  /* text-align: center; */
  vertical-align: baseline;
  display: flex;
}

.username {
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 100px;
}

@media (max-width: 1000px) {
  .userNavbar {
    padding: 16px;
    padding-right: 0;
  }

  .userNavbar .logo {
    width: 200px !important;
    height: 79px !important;
  }
  .userNavbar .link a {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .userNavbar {
    padding: 0 16px;
  }
  .userNavbar .logo {
    width: 120px;
  }
  .userNavbar .link {
    display: none;
  }

  .userNavbar .bars {
    display: flex;
  }
}
