body {
  margin: 0;
  padding: 0;
}

.Phone {
  /* border: 1px solid black; */
  height: 535px;
  width: 400px;
  margin: 0;
  background-image: url("./assets/bg.svg");
}

.park_bg {
  background-image: url("./assets/park.svg");
}
.jungle_bg {
  background-image: url("./assets/jungle.png");
}
.beach_bg {
  background-image: url("./assets/beach.png");
}
.snow_bg {
  background-image: url("./assets/snow.png");
}

.Gamepad {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 287px;
  margin: 0 auto 0 auto;
}

.Edna {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
  height: 100px;
  /* box-sizing: border-box;
  border: 1px solid red; */
  border-bottom: 5px solid black;
}

.Edna div {
  height: 100px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.basketball {
  display: flex;
  flex-wrap: wrap;
  width: 284px;
  height: 198px;
  /* box-sizing: border-box; */
  /* border: 1px solid blue; */
}

.basketball div {
  height: 40px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.mrIncredible {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
  height: 100px;

  border-bottom: 5px solid black;
  /* border-bottom: 5px solid black;
  box-sizing: border-box;
  border: 1px solid green; */
}

.mrIncredible div {
  height: 100px;
  width: 71px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

/* bg */

.Edna_bg {
  background: url("./assets/edna.png") no-repeat center;
}
.MrIncredible_bg {
  background: url("./assets/incredible.png") no-repeat center;
}
.Elasticgirl_bg {
  background: url("./assets/elasticgirl.png") no-repeat center;
}
.Violet_bg {
  background: url("./assets/violet.png") no-repeat center;
}
.Basketball_bg {
  background: url("./assets/basketball.png") no-repeat center;
}
.spaceship_bg {
  background: url("./assets/spaceship.svg") no-repeat bottom,
    url("./assets/edna.png") no-repeat center;
}
.Helicopter_bg {
  background: url("./assets/helicopter.png") no-repeat bottom,
    url("./assets/edna.png") no-repeat center;
}

.InteractionPad {
  margin: 15px 0 0 50px;
}

.scoreCard{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding-left: 1rem;
  width: 100px;
  height: 50px;
  border-bottom: 5px solid black;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 1rem;
}

.right_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url("./assets/right.svg") no-repeat center;
  background-size: 40px 40px;
  border: none;
  outline: none;
}

.left_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url("./assets/left.svg") no-repeat center;
  background-size: 40px 40px;
  border: none;
  outline: none;
}

.restart_btn {
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
  background: url("./assets/restart.svg") no-repeat center;
  border: none;
  outline: none;
}

.shoot_btn {
  position: absolute;
  margin: 6px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: none; */
  outline: none;
  height: 30px;
  width: 30px;
}

.edna_basketball {
  background: url("./assets/edna_baskect_ball.png") no-repeat bottom;
  /* background-size: 50px 100px; */
}

.GameDisplay {
  background: url("./assets/GameOver.svg") no-repeat center;
  position: absolute;
  top: 25%;
  left: 28%;
  height: 150px;
  width: 180px;
  display: none;
}
.ScorePad {
  margin: 15px 0 0 50px;
}
