body{
  background-size: cover!important;
}

.image-container{
  position: relative;
  padding: 2px;
  overflow: hidden;
}

.image-container .image{
  position: absolute;
}


.image.hover-animation:hover{
  animation: 1s blink;
}

@keyframes blink {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
