/* .top-pane {
  background-color: white;
} */

@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.main__container * {
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", cursive !important;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  min-height: 100vh;
  background: url("./assets/background.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 32px;
  padding: 0 0 0 10%;
}

.heading {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.heading p {
  background-color: #f06f38;
  padding: 16px;
  color: white;
  font-size: 28px;
  border-radius: 20px;
}

.back_btn {
  display: flex;
  height: min-content;
  justify-content: center;
  margin-top: 1rem;
}

.back_btn > button {
  background-color: #f06f38;
  padding: 16px;
  color: white;
  font-size: 28px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.CodeMirror {
  border-radius: 40px;
}

.CodeMirror-scroll {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.CodeMirror-gutter {
  background: #f06f38;
  padding: 16px;
  text-align: center;
}

.CodeMirror-linenumber {
  color: white;
  font-size: 28px;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  font-size: 28px;
  padding-left: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f06f38;
}

.CodeMirror-sizer {
  padding-top: 8px;
  padding-bottom: 16px !important;
}

.main__container .icons {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons .play img {
  width: 150px;
  margin-left: 32px;
}

.icons .other__icons {
  display: flex;
  justify-content: space-between;
}

.icons .other__icons img {
  width: 45px;
  margin-right: 16px;
}

/* .compile-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 85%;
  left: 10%;
}

.compile-button:active,
.compile-button:focus {
  outline: 0;
  border: 0;
} */

.frame_container {
  margin: auto;
  width: 462.62px;
  height: 663.09px;
  background-image: url(../../assets/ipad-2.svg);
  padding: 0;
  /* border: 1px solid black; */
}

.phone {
  width: 400px;
  height: 467px;
  margin: auto;
  position: relative;
  top: 9.5%;
}

.qr_body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 300px;
  width: 100%;
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 10;
}

.qr_body.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.qr_container {
  background: white;
  padding: 32px;
  padding-top: 1px;
  border-radius: 16px;
  text-align: center;
}

.qr_container .heading {
  text-align: center;
  margin-bottom: 8px;
}

.qr_container .heading h1 {
  font-size: 20px;
}

.qr_container .qr_code {
  margin-bottom: 8px;
}

.qr_container .closeQr {
  padding: 8px 16px;
  color: white;
  border: 1px solid #f06f38;
  background: #f06f38;
  border-radius: 8px;
  transition: 0.5s;
}

.qr_container .closeQr:hover {
  color: #f06f38;
  background: white;
  transition: 0.5s;
}
