.top-pane {
  background-color: white;
}
.compile-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.compile-button:active,
.compile-button:focus {
  outline: 0;
  border: 0;
}

.frame_container {
  position: absolute;
  top: 17%;
  left: 60%;
  width: 462.62px;
  height: 663.09px;
  background-image: url(../../assets/ipad-2.svg);
  padding: 0;
  /* border: 1px solid black; */
}

.phone {
  width: 400px;
  height: 467px;
  margin: auto;
  position: relative;
  top: 9.5%;
}
