/* .top-pane {
  background-color: white;
} */

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


*{
  margin : 0;
  padding: 0;
  font-family: 'Bubblegum Sans', cursive !important;
}


.main__container{
  display: grid;
  grid-template-columns: repeat(2 , minmax(0,1fr));
  min-height: 100vh;
  background: url('./assets/background.jpeg');
  background-size: cover;
  background-position: center;
  padding-top: 32px;
  padding: 0 0 0 10%;
}

.heading{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.heading p{
  background-color: #F06F38;
  padding: 16px;
  color : white;
  font-size: 28px;
  border-radius: 20px;
}


.CodeMirror{
  border-radius: 40px;
}

.CodeMirror-gutter{
  background: #F06F38;
  padding: 16px;
  text-align: center;
}

.CodeMirror-linenumber{
  color : white;
  font-size: 28px;

}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like{
  font-size: 28px;
  padding-left: 40px;
  padding-bottom: 8px;
  border-bottom:  1px solid #F06F38;
}

.CodeMirror-sizer{
  padding-top: 8px;
  padding-bottom: 16px!important;
}

.icons{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons .play img{
  width: 150px;
  margin-left: 32px;
}

.icons .other__icons {
  display: flex;
  justify-content: space-between;
}

.icons .other__icons img{
  width: 45px;
  margin-right: 16px;
}

/* .compile-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 85%;
  left: 10%;
}

.compile-button:active,
.compile-button:focus {
  outline: 0;
  border: 0;
} */

.frame_container {
  margin: auto;
  width: 462.62px;
  height: 663.09px;
  background-image: url(../../assets/ipad-2.svg);
  padding: 0;
  /* border: 1px solid black; */
}

.phone {
  width: 400px;
  height: 467px;
  margin: auto;
  position: relative;
  top: 9.5%;
}
