/* .Phone {
  border: 1px solid black;
  height: 525px;
  width: 400px;
  margin: 0;
  border: 1px solid black;
  background-image: url('./assets/bg.svg');
} */

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/bg.svg');
}

.GamePad {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 287px;
  /*border: 1px solid black;*/
  margin: 50px auto 0 auto;
  /* box-sizing: border-box; */
}

.jump_boxes {
  position: absolute;
  top: 160px;
  left: 75px;
  border: none;
  /* border: 1px solid black;
  box-sizing: border-box; */
  height: 150px;
  width: 250px;
}

.jump_box {
  height: 100px;
  width: 80px;
  box-sizing: border-box;
  text-align: center;
}

.jump_box_1 {
  /* border: 1px solid black;
  box-sizing: border-box; */
  position: fixed;
  background: url('./assets/trunck.svg') no-repeat bottom;
  background-size: 60px 60px;
  top: 230px;
  border: none;
  cursor: pointer;

}

.jump_box_2 {
  /* border: 1px solid black;
  box-sizing: border-box; */
  position: fixed;
  background: url('./assets/trunck.svg') no-repeat bottom;
  background-size: 60px 60px;
  top: 160px;
  left: 160px;
  border: none;
  cursor: pointer;

}
.jump_box_3 {
  /* border: 1px solid black;
  box-sizing: border-box; */
  position: fixed;
  /* background-color: blue; */
  background: url('./assets/trunck.svg') no-repeat bottom;
  background-size: 60px 60px;
  top: 230px;
  left: 245px;
  border: none;
  cursor: pointer;

}

.monkey_box {
  height: 100px;
  width: 80px;
  /* border: 1px solid black;
  box-sizing: border-box; */
  /* background-color: aqua; */

  background: url('./assets/trunck.svg') no-repeat bottom;
  background-size: 60px 60px;
  position: absolute;
  top: 310px;
  left: 160px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.multiplt_info {
  height: 40px;
  width: 170px;
  padding: 15px;
  /* border: 1px solid black;
  box-sizing: border-box; */
  background-color: rgb(222, 119, 243);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 85px;
  left: 100px;
  color: white;
  font-weight: 800;
}

.next_button {
  height: 30px;
  position: absolute;
  top: 420px;
  left: 175px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 800;
  background-color: rgb(222, 119, 243);
  cursor: pointer;
}

.next_button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.monkey {
  background: url('./assets/monkey.svg') no-repeat top,
    url('./assets/trunck.svg') no-repeat center bottom;
  background-size: 60px 60px;
  /* border-radius: 50%; */
}

.span_number {
  color: white;
  font-weight: 800;
  position: relative;
  top: 30px;
}

.score {
  color: white;
  font-weight: 800;
  background-color: black;
  height: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.restart {
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 800;
  background-color: rgb(222, 119, 243);
  height: 30px;
  position: absolute;
  top: 480px;
  left: 165px;
  cursor: pointer;
}

.rand_num {
  font-size: 30px;
}

.Game_Over {
  background: url('./assets/game_over.svg') no-repeat center;
  height: 200px;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 45px;
  display: none;
}

.Won{
  height: 200px;
  width: 200px;
  font-size: 2rem;
  position: absolute;
  background-color: rgb(3, 33, 82);
  color: aliceblue;
  font-weight: bold;
  padding: 3rem;
  top: 150px;
  left: 55px;
  border-radius: 1rem;
  display: none;
  z-index: 1000;
}
