body {
  padding: 0;
  margin: 0;
}

.Phone {
  /* margin: 0 auto 0 auto; */
  /* border: 1px solid black; */
  height: 535px;
  width: 400px;
  /* margin: 0; */
  background-image: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/bg_mvaxzFGiivV.png?updatedAt=1633874665554');
}

.Phone_rain_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/bg_mvaxzFGiivV.png?updatedAt=1633874665554');
}

.GamePad {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 287px;
  border: 1px solid black;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

.drop_grid {
  position: relative;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 55px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.drop_grid div {
  height: 67px;
  width: 55px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.drop_bg {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/drop_5U7ZuQKhq0P.png?updatedAt=1633874667533')
    no-repeat left;
}

.InteractionPad {
  position: relative;
  left: 35%;
  margin-top: 10px;
  width: fit-content;
}

.top_arrow {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/top_arrow_TPJjyylOHsY.png?updatedAt=1633874672848');
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.bottom_arrow {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/bottom_arrow_rC6MNTBNZ.png?updatedAt=1633874666533');
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.sun {
  margin-left: auto;
  /* border: 1px solid black;
  box-sizing: border-box; */
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/sun_8X0Vdv6Iv.png?updatedAt=1633874671909');
  height: 171px;
  width: 153px;
}

.rain {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 181px;
  width: 241px;
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/rain_MNJ2H6D29.png?updatedAt=1633874668831');
}

.rays_list {
  position: absolute;
}

.ray_grid {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 20px;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.ray_1_grid {
  /* 3 */
  width: 100px;
  top: 110px;
  margin-left: 60px;
  transform: rotate(-25deg);
}

.ray_2_grid {
  /* 4 */
  width: 130px;
  top: 160px;
  margin-left: 52px;
  transform: rotate(-40deg);
}

.ray_3_grid {
  /* 6 */
  width: 190px;
  top: 200px;
  margin-left: 40px;
  transform: rotate(-45deg);
}

.ray_4_grid {
  /* 8 */
  width: 250px;
  top: 250px;
  margin-left: 25px;
  transform: rotate(-50deg);
}

.ray_grid div {
  /* border: 1px solid black;
  box-sizing: border-box; */
  width: 30px;
}

.ray_bg {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/ray_YT-bO0kfYbx.png?updatedAt=1633874669596')
    no-repeat center;
}

.temperature {
  height: 150px;
  width: 72px;
  position: absolute;
  top: 230px;
  left: 240px;
  /* border: 1px solid black;
  box-sizing: border-box; */
  transform: rotate(-20deg);
}

.temp_10 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/10_b-Yp0CaMy.png?updatedAt=1633874656533');
}
.temp_20 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/20_PCuSFtKnoJ-.png?updatedAt=1633874656736');
}
.temp_30 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/30_c3x7qxB4h.png?updatedAt=1633874657606');
}
.temp_40 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/40_UnMOnDN7o.png?updatedAt=1633874658551');
}
.temp_50 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/50__jZKlrVat.png?updatedAt=1633874659413');
}
.temp_60 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/60_WZdpVWSEP.png?updatedAt=1633874660762');
}
.temp_70 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/70_FFtjnYjTV.png?updatedAt=1633874662032');
}
.temp_80 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/80_ask2y3l6C.png?updatedAt=1633874662617');
}
.temp_90 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/90_fSEjDpWfC9A.png?updatedAt=1633874663483');
}
.temp_100 {
  background: url('https://ik.imagekit.io/funcboxImages/LetsMakeItRainGame_assets/100_RPVvXkDN1.png?updatedAt=1633874664495');
}

.restart_btn {
  height: 27px;
  width: 27px;
  background: url('./assets/restart.png');
  border: none;
}
