/* Class DropDown List : Kaustubh */

.drop-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  z-index: 2000;
}

.drop-down .selected span {
  background: #fff no-repeat scroll right center;
  display: block;
  padding-right: 20px;
  border: 1px solid #d7d7d7;
  width: 150px;
  border-radius: 2px;
  text-decoration: none;
  color: #3179ac;
}

.drop-down .selected span {
  cursor: pointer;
  display: block;
  padding: 5px;
}

.drop-down .option {
  position: relative;
}

.drop-down .options ul {
  background: #eee none repeat scroll 0 0;
  display: none;
  list-style: none;
  padding: 0px 0px;
  position: absolute;
  left: 0px;
  top: 32px;
  width: auto;
  min-width: 170px;
  border: 1px solid #d7d7d7;
}

.drop-down .selected span.value,
.drop-down .options span.value {
  display: none;
}

.drop-down .options ul li {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: #3179ac;
  font-weight: semibold;
}

.drop-down .options ul li:hover {
  cursor: pointer;
  background: #3179ac;
  color: #fff;
  transition: 0.2s ease;
}
