@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.salesPage__main .hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salesPage__main .hero__section i {
  color: #f49365;
}

.salesPage__main .hero__section .left__section .vector_bg{
  position: relative;
  width: 39vw;
  top: -2vw;
  /* max-width: 550px; */
}

/* .hero__section .left__section .sales_kid {
  position: absolute;
  left: 6vw;
  width: 21vw;
  top: 12vw;
} */

.salesPage__main .hero__section .right__section {
  padding: 0 5vw 80px 5vw;
}

.salesPage__main .hero__section .right__section .title {
  margin-bottom: 32px;
}

.salesPage__main .hero__section .right__section .content {
  font-size: 1.3rem;
}

.salesPage__main .hero__section .right__section p {
  margin-bottom: 8px;
}

/* Features */

.salesPage__main .features {
  padding: 16px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2af27;
  margin-bottom: 32px;
  position: relative;
  top: -7vw;
}

.salesPage__main .feature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.salesPage__main .feature img {
  margin-right: 8px;
  width: 50px;
}

.salesPage__main .prices__heading {
  text-align: center;

  margin-bottom: 10vh;
}

.salesPage__main .prices__heading p {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.salesPage__main .prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  margin: 32px 5% 34px;
  /* height: 550px;
  max-height: 550px; */
  position: relative;
  min-height: 870px;
  height: max-content;
}

.salesPage__main .plan-container {
  margin: auto;

  position: relative;
  max-width: 400px;
}

.salesPage__main .plan-details {
  position: relative;
  color: white;
  padding: 16px 40px;

  padding-bottom: 32px;
  border-radius: 12px;
  z-index: 2;
  margin: 0 6px;
  min-height: 400px;
}

.salesPage__main .plan .details ul {
  list-style: none;
  padding-top: 8px;
  padding-left: 24px;
}

.salesPage__main .plan .details ul li {
  margin-bottom: 8px;
}

.salesPage__main .plan-details.red {
  background: #f05d6a;
}

.salesPage__main .plan-details.yellow {
  background: #ffd27b;
}

.salesPage__main .plan-details.green {
  background-color: #36bfa5;
}

.salesPage__main .plan-details .heading {
  text-align: center;
  margin-bottom: 0;
}

.salesPage__main .marquee {
  width: 60%;
  margin: auto;
}

.salesPage__main marquee {
  width: 100%;
  height: 100px;
}

.salesPage__main .plan-details .add-to-cart {
  text-align: right;
}

.salesPage__main .plan-details .heading h2 {
  font-weight: normal;
  font-size: 28px;
}
.salesPage__main .plan-details .add-to-cart a {
  color: white;
  text-decoration: none;
}

.salesPage__main .plan-container .black {
  position: relative;
  background-color: black;
  opacity: 0.7;
  height: 12px;
  z-index: 1;
  margin-top: -350px;
  border-radius: 0 0 12px 12px;
  margin-bottom: -5px;
  transition: 0.7s;
}

.salesPage__main .plan-cover {
  position: relative;
  background: #eeeeee;
  text-align: center;
  padding: 32px 0;
  z-index: 3;
  min-height: 300px;
  border-radius: 0 0 12px 12px;
}

.salesPage__main .plan-cover h1 {
  font-weight: normal;
  font-size: 53px;
}

.salesPage__main .plan-cover .price {
  margin-top: 8vh;
  font-size: 30px;
}

.salesPage__main .plan-cover .price .atc {
  margin-top: 8px;
}

.salesPage__main .plan-container.open .black {
  margin-top: -20px;
}

.salesPage__main .payment {
  text-align: center;
}

.salesPage__main .payment a {
  display: block;
  width: 12%;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 16px;
  margin-right: 64px;
  margin-left: auto;
  color: black;
  text-decoration: none;
}

.salesPage__main .for__school .heading {
  text-align: center;
}

.salesPage__main .for__school .heading h1 {
  font-weight: 400;
}

.salesPage__main .for__school .content img {
  width: 30%;
}

.salesPage__main .for__school .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

.salesPage__main .for__school .contentt {
  padding: 32px;
  background: #eeeeee;
  border-radius: 16px;
  margin-left: -64px;
  min-height: 250px;
}

.salesPage__main .for__school .contentt p {
  font-size: 19px;
}

.salesPage__main .for__school .contentt a {
  display: block;
  text-decoration: none;
  color: #00b2ff;
  margin-top: 8vh;
}
.class_selection_overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 900;
}
.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.purchase_button {
  width: 90%;
  min-width: 180px;
  max-width: 350px;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 22px;
  color: white;
  font-size: 21px;
  transition: all 200ms;
}

.purchase_button.yellow {
  background-color: #ffd27b;
  box-shadow: 0 0 4px 4px #ffd27b88;
}
.purchase_button.yellow:hover {
  box-shadow: 0 0 10px 5px #ffd37b88;
}
.purchase_button.red {
  background-color: #f05d6a;
  box-shadow: 0 0 4px 4px #f05d6988;
}
.purchase_button.red:hover {
  box-shadow: 0 0 10px 5px #f05d6988;
}
.purchase_button.green {
  background-color: #36bfa5;
  box-shadow: 0 0 4px 4px #36bfa588;
}
.purchase_button.green:hover {
  box-shadow: 0 0 10px 5px #36bfa588;
}
.school_content {
  display: flex;
  align-items: center;
  background-color: #fef8e7;
  margin: 0 5% 50px 5%;
  border-radius: 25px;
  height: fit-content;
}
.heading {
  font-size: 2.5rem;
  font-weight: 500;
}

.school_content img {
  /* max-width: 50%; */
  /* height: 100%; */
  clip-path: circle(100% at 20% 50%);
  border-radius: 25px 0 0 25px;
  object-fit: contain;
  /* border-top-right-radius: 35%; */
}
.contentt {
  /* padding: 5%; */
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;

}
.contentt a {
  margin-top: 15%;
  font-size: 1rem;
  color: rgb(0, 173, 216);
  font-weight: 600;
  padding-left: 5%;
}
.contentt p {
  padding: 0 5%;
}

/* Media Queries */
@media (max-width: 1099px) {
  .school_content img {
    width: 55%;
  }
  .contentt p {
    padding-top: 1%;
    font-size: 1rem;
  }
  .contentt a {
    margin-top: 5%;
  }
}

@media (max-width: 719px){
  .school_content img{
    width: 50%;
  }
  .contentt p {
    font-size: 0.8rem;
  }
  .contentt a {
    margin-top: 5%;
    font-size: 0.8rem;
  }

}
@media (max-width: 575px) {
  .school_content {
    flex-direction: column;
  }
  .school_content img {
    width: 100%;
    clip-path: none;
    border-radius: 25px 25px 0 0;
  }
  .contentt p {
    font-size: 0.9rem;
  }
  .contentt a {
    margin-top: 2%;
    font-size: 0.9rem;
    text-align: center;
  }
  .heading {
    font-size: 1.5rem;
  }

  .salesPage__main .features {
    top: -15vw;
  }
}
/* 
@media (max-width: 1292px){
  .school_content img{
    clip-path: circle(100% at 10% 50%);
  }
  .contentt{
    padding: 1%;
    font-size: 1rem;
    margin-left: -40px;
  }
}
@media (max-width: 1073px){
  .school_content img{
    width: 350px;
    object-fit: fill;
    clip-path: circle(100% at 20% 50%);
  }
  .contentt{
    padding: 1%;
    font-size: 1rem;
    margin-left: 10px;
  }
}
@media (max-width: 875px){
  .school_content img{
    width: 310px;
    object-fit: fill;
    clip-path: circle(100% at 20% 50%);
  }
  .contentt{
    padding: 0;
    font-size: 1rem;
    margin-left: 10px;
  }
} */


@media (max-width: 1100px) {
  .salesPage__main .prices {
    margin: 3vw;
  }
  /* .salesPage__main .hero__section .right__section img {
    width: 60%;
  } */
  /* .hero__section .left__section img {
    position: relative;
    left: 10%;
    transform: translate(0%, -50%);
    width: 100%;
  } */

  .salesPage__main .for__school .content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }

  .salesPage__main .for__school .content img {
    width: 50%;
    margin: auto;
    border-radius: 8px;
  }

  .salesPage__main .for__school .contentt {
    margin-left: 0;
    width: 60%;
    margin: auto;
    margin-top: -3%;
  }
  .background__img {
    width: 50%;
  }
  
  .salesPage__main .hero__section .right__section .content {
    font-size: 1.1rem;
  }

  .salesPage__main .hero__section .right__section {
    padding: 0 5vw 60px 0;
  }

  .salesPage__main .hero__section .right__section .title {
    margin-bottom: 25px;
  }
}

@media (max-width: 1023px) {
  .salesPage__main .hero__section {
    grid-template-columns: 1fr;
  }

  .hero__section .left__section {
    text-align: center;
  }

  .hero__section .left__section img {
    position: relative;
    left: 0%;
    top: 0;
    transform: none;
    width: 50%;
    margin-top: 32px;
  }
}

@media (max-width: 900px) {
  .salesPage__main .hero__section .right__section .content {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .salesPage__main .prices__heading p {
    margin: 16px;
  }

  .salesPage__main .prices {
    grid-template-columns: 1fr;
    width: 60%;
    margin: auto;
    height: max-content;
  }

  .salesPage__main .hero__section .right__section .title {
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .salesPage__main .features {
    flex-direction: column;
    top: -8vw;
  }

  .salesPage__main .features .feature {
    margin-bottom: 16px;
  }

  .salesPage__main .for__school .content {
    margin: 32px auto;
  }
  
  .salesPage__main .hero__section {
    flex-direction: column;
    align-items: flex-start;
  }

  .salesPage__main .hero__section .left__section{
    /* margin-bottom: 25px; */
    order: 2;
  }

  .salesPage__main .hero__section .left__section .vector_bg{
    width: 60vw;
    top: 0;
    left: 0;
  }
  
  /* .hero__section .left__section .sales_kid {
    left: 2vw;
    width: 45vw;
    top: 17.5vw;
    transform: rotate(2.5deg);
  } */

  .salesPage__main .hero__section .right__section {
    padding: 40px 8vw 20px 8vw;
    order: 1;
  }
  
  .salesPage__main .hero__section .right__section .content {
    font-size: 1rem;
  }

}

@media (max-width: 500px) {
  /* .salesPage__main .hero__section {
    width: 90%;
    margin: 32px auto;
  } */

  /* .salesPage__main .hero__section .right__section {
    padding: 32px;
  } */

  /* .hero__section .left__section img {
    width: 75%;
  } */

  .salesPage__main .prices {
    width: 85%;
  }

  .salesPage__main .for__school .content img {
    width: 90%;
    margin: auto;
    border-radius: 8px;
  }

  .salesPage__main .for__school {
    margin-left: 0;
    width: 80%;
    margin: auto;
    margin-top: -3%;
  }

  .salesPage__main .for__school {
    margin: 32px auto;
  }

  .salesPage__main .plan-cover h1 {
    font-weight: normal;
    font-size: 40px;
  }
}
