@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica, sans-serif; */
}
  
.GamePad {
    width: 400px;
    height: 535px;
    margin: auto;
    position: relative;
    padding-top: 1px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* #game_page{
    position: relative;
} */

.bg{
    position: absolute;
    /* left: -20px; */
    width: 100%;
}

#field1{
    position: absolute;
    top: 282px;
    left: 88px;
}

#field2{
    position: absolute;
    top: 263px;
    left: 153px;
}

#field3{
    position: absolute;
    top: 305px;
    left: 203px;
}

#field4{
    position: absolute;
    top: 350px;
    left: 247px;
}

#field5{
    position: absolute;
    top: 278px;
    left: 275px;
}

#field6{
    position: absolute;
    top: 300px;
    left: 333px;
}

.num{
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #000000;
}

#num1{
    position: absolute;
    top: 279px;
    left: 105px;
}

#num2{
    position: absolute;
    top: 260px;
    left: 165px;
}

#num4{
    position: absolute;
    top: 349px;
    left: 257px;
}

#num6{
    position: absolute;
    top: 298px;
    left: 343px;
}

#num3{
    position: absolute;
    top: 312px;
    left: 212px;
}

#num5{
    position: absolute;
    top: 285px;
    left: 285px;
}

input {
    width: 36px;
    height: 36px;
    font-size: 35px;
    padding-top: 5px;
    padding-left: 2px;
    border-radius: 99%;
    font-family: Ramaraja;
    border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#btn{
    position: absolute;
    top: 460px;
    left: 160px;
    background-color: #000000;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: Ramaraja;
    font-size: 18px;
}

#btn:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
}

#wrong_disp, #right_disp{
    display: none;
}

#right_disp{
    position: absolute;
    top: -15px;
    left: -10px;
    
}

#wrong_disp{
    position: absolute;
    top: 60px;
    left: 30px;
}

#explanation1, #explanation2{
    position: absolute;
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

#sequence1, #sequence2{
    position: absolute;
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 51px;
    color: #000000;
}

#sequence1{
    left: 40px;
    top: 285px;
}

#explanation1{
    left: 45px;
    top: 375px;
}

#sequence2{
    left: 115px;
    top: 340px;
}

#explanation2{
    left: 110px;
    top: 455px;
}

#oops, #hurray{
    position: absolute;
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 86px;
}

#oops{
    left: 97px;
    top: -55px;
    color: #FF0000;
}

#hurray{
    left: 120px;
    top: 7px;
    color: #0038FF;
}

.retry_wrong, .retry_right{
    position: absolute;
    cursor: pointer;
}

.retry_wrong{
    width: 10%;
    left: 150px;
    top: 400px;
}

.retry_right{
    width: 8%;
    left: 188px;
    top: 490px;
}

