.footer{
  position: relative;
  background: url("https://ik.imagekit.io/funcboxImages/image_288_1DiBd8v_PEE8.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645042572237");
  height:100vh;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.get_in_touch{
  margin-left: 2.5vw;
  position: absolute;
  font-size: 2rem;
  color:white;
  margin-top:50vh;
}
.get_in_touch input{
  width:30vw;
  border: 1rem solid white;
  border-radius: 1rem;
}
.home_store_school_blog{
  margin-left: 2.5vw;
  color:white;
  font-size: 1rem;
  position: absolute;
  margin-top: 75vh;
  justify-content: center;
  display:flex;
  gap: 1.5vw;
  flex-wrap: wrap;
}
.home_store_school_blog a :hover{
  text-decoration: underline;
}
.Career{
  margin-left: 2.5vw;
  color:white;
  font-size: 1rem;
  position: absolute;
  margin-top: 85vh;
  justify-content: center;
  display:flex;
}
.horizontal_rule{
  width:80%;
  position: absolute;
  border: 1px solid white;
  margin-top:15vh;
  margin-left: 10vw;
}
.important_links{
  color:white;
  margin-left:35vw;
  float: left;
  display:flex;
}
.postcredit{
  margin-left: 40vw;
  color:white;
  font-size: 1rem;
  position: absolute;
  margin-top: 95vh;
  justify-content: center;
  display:flex;
  gap: 1.5vw;
  flex-wrap: wrap;
}
.social_media{
  margin-left: 2.5vw;
  color:white;
  position: absolute;
  margin-top: 82vh;
  justify-content: center;
  display:flex;
  gap:2vw;
  flex-wrap: wrap;
}
.ld{
  height:5vh;
  width:80%;
  margin-left:1vw;
}
.fb{
  height:5vh;
  width:80%;
  margin-left:1vw;
}
.ig{
  height:5vh;
  width:80%;
  margin-left:1vw;
}
@media (max-width: 500px) {
  .get_in_touch input{
    width:50vw;
  }
}