/* .footer{
  background-image: url("https://ik.imagekit.io/funcboxImages/footer_0Z5PkwLoi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
} */

.footer > * {
  box-sizing: border-box;
  position: absolute;
}

.footer {
  position: relative;
}

.footer__bg {
  height: auto;
  width: 100%;
}

.get_in_touch {
  font-size: 20px;
  font-weight: bold;
  top: 350px;
  left: 70px;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 40px;
  outline: none;
  border: none;
  font-size: 22px;
  padding-left: 20px;
}

.bell {
  top: 385px;
  left: 420px;
  cursor: pointer;
}

.home_store_school_blog {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 22px;
  gap: 70px;
  top: 480px;
  left: 70px;
}

.home_store_school_blog a{
  text-decoration: none;
  color: #000000;
}

.home_store_school_blog a:hover{
  text-decoration: underline;
}

.horizontal_line {
  width: 90%;
  height: 1px;
  background-color: #000000;
  top: 680px;
  left: 50%;
  transform: translateX(-50%);
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  top: 640px;
  left: 80px;
}

.social_media img {
  width: 35px;
  height: 35px;
}

.social_media img {
  cursor: pointer;
}

.important_links {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 7px;
  top: 600px;
  right: 120px;
} 

.important_links a {
  text-decoration: none;
  color: #000000;
}

.important_links a:hover {
  text-decoration: underline;
}

.postcredit {
  font-size: 20px;
  font-weight: bold;
  top: 710px;
  left: 50%;
  transform: translateX(-50%);
}

.postcredit a{
  text-decoration: none;
  color: #000000;
}

.postcredit a:hover{
  text-decoration: underline;
}

.postcredit > span {
  color: red;
}

@media screen and (min-width: 1800px) {
  .get_in_touch {
    top: 480px;
    left: 70px;
  }

.home_store_school_blog {
    top: 610px;
    left: 70px;
  }

  .horizontal_line {
    top: 830px;
    left: 50%;

  }
  
  .social_media {
    top: 790px;
    left: 80px;
  }

  .important_links {
    top: 750px;
    right: 120px;
  }
  
  .postcredit {
    top: 860px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media screen and (max-width: 1400px) {
  .get_in_touch {
    top: 310px;
    left: 70px;
    font-size: 18px;
  }

  input {
    width: 300px;
    height: 35px;
    font-size: 20px;
    padding-left: 15px;
  }
  

.home_store_school_blog {
    top: 400px;
    left: 70px;
    font-size: 20px;
  }

  .horizontal_line {
    top: 580px;
    left: 50%;

  }
  
  .social_media {
    top: 540px;
    left: 80px;
  }

  .important_links {
    top: 500px;
    right: 90px;
  }

  .social_media img {
    width: 30px;
    height: 30px;
  }
  
  .postcredit {
    top: 590px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media screen and (max-width: 1200px) {
  .get_in_touch {
    top: 250px;
    left: 70px;
    font-size: 18px;
  }

  input {
    width: 300px;
    height: 35px;
    font-size: 20px;
    padding-left: 15px;
  }
  

.home_store_school_blog {
    top: 350px;
    font-size: 20px;
  }

  .horizontal_line {
    top: 530px;

  }
  
  .social_media {
    top: 490px;
  }

  .important_links {
    top: 450px;
  }

  .social_media img {
    width: 30px;
    height: 30px;
  }
  
  .postcredit {
    top: 540px;
  }

}

@media screen and (max-width: 1100px) {
  .horizontal_line {
    top: 480px;

  }
  
  .social_media {
    top: 440px;
  }

  .important_links {
    top: 400px;
  }
  
  .postcredit {
    top: 490px;
  }

}

@media screen and (max-width: 1000px) {
  .get_in_touch {
    top: 200px;
    left: 70px;
    font-size: 18px;
  }
  

.home_store_school_blog {
    top: 280px;
    font-size: 20px;
  }
  .horizontal_line {
    top: 390px;
  }
  
  .social_media {
    top: 350px;
  }

  .important_links {
    top: 310px;
  }
  
  .postcredit {
    top: 400px;
  }

}

@media screen and (max-width: 800px) {
  .get_in_touch {
    top: 180px;
    font-size: 15px;
  }

  input {
    width: 240px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
  }
  

.home_store_school_blog {
    top: 250px;
    font-size: 16px;
    gap: 40px;
  }
  .horizontal_line {
    top: 320px;
  }
  
  .social_media {
    top: 290px;
    gap: 10px
  }

  .social_media img{
    width: 25px;
    height: 25px;
  }

  .important_links {
    top: 260px;
    right: 50px;
    gap: 2px;
  }
  
  .postcredit {
    top: 330px;
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
  .get_in_touch {
    top: 130px;
    left: 50px;
    font-size: 15px;
  }

  input {
    width: 220px;
    height: 26px;
    font-size: 17px;
    padding-left: 10px;
  }
  

.home_store_school_blog {
    top: 190px;
    left: 50px;
    font-size: 14px;
    gap: 35px;
  }
  .horizontal_line {
    top: 260px;
  }
  
  .social_media {
    top: 230px;
    left: 50px;
    gap: 10px
  }

  .social_media img{
    width: 25px;
    height: 25px;
  }

  .important_links {
    top: 200px;
    gap: 2px;
  }
  
  .postcredit {
    top: 260px;
    font-size: 16px;
  }

}

/* Mobile */

@media screen and (max-width: 470px) {
  .get_in_touch {
    top: 100px;
    left: 30px;
    font-size: 13px;
  }

  input {
    width: 200px;
    height: 22px;
    font-size: 15px;
    padding-left: 10px;
  }
  

.home_store_school_blog {
    top: 145px;
    left: 30px;
    font-size: 12px;
    gap: 26px;
  }
  .horizontal_line {
    top: 190px;
  }
  
  .social_media {
    top: 170px;
    left: 30px;
    gap: 10px
  }

  .social_media img{
    width: 18px;
    height: 18px;
  }

  .important_links {
    top: 140px;
    right: 20px;
    gap: 2px;
    font-size: 12px;
  }
  
  .postcredit {
    top: 190px;
    font-size: 13px;
  }

}

@media screen and (max-width: 400px){
  .get_in_touch {
    top: 90px;
    left: 20px;
    font-size: 12px;
  }

  input {
    width: 170px;
    height: 18px;
    font-size: 12px;
    padding-left: 10px;
  }
  

.home_store_school_blog {
    top: 130px;
    left: 20px;
    font-size: 12px;
    gap: 20px;
  }
  .horizontal_line {
    top: 170px;
  }
  
  .social_media {
    top: 150px;
    left: 20px;
    gap: 10px
  }

  .social_media img{
    width: 18px;
    height: 18px;
  }

  .important_links {
    top: 120px;
    right: 18px;
    gap: 2px;
    font-size: 10px;
  }

  .postcredit {
    top: 170px;
    font-size: 10px;
  }
}

