@import url('https://fonts.googleapis.com/css2?family=Alice&family=Fira+Code:wght@600&family=Hanalei+Fill&family=Lakki+Reddy&family=Uncial+Antiqua&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.GamePad {
  width: 400px;
  height: 535px;
  /* border: solid black 1px; */
  margin: auto;
  position: relative;

  /* background-image: url('../MissionMarsFiles/assets/backgrounds/Frame.png'); */

  padding-top: 1px;
  background: url('assets/background.png');
  /* background-position: center; */
  background-size: cover;
  position: relative;
  /* background: red; */
}

.zombie__container{
  position: relative;
  height: 367px;
}

.zombie__container img{
  position: absolute;
  width: 80px;
  top : 155px;
  opacity: 0;
}

.zombie__container .left{
  left : 40px;
}

.zombie__container .center {
  left : 50%;
  transform: translateX(-50%);
}


.zombie__container .right{
  right  : 40px;
}


.controllers{
  display: flex;
  justify-content: center;
  margin: 16px;
  position: relative;
  z-index: 2;
}

.shooter{
  text-align: center;
  margin-bottom: -35px;
}

#shooter{
  width: 75px;
  margin-right: 15px;
}

#shooter.left{
  transform: rotate(-30deg);
}

#shooter.right{
  transform: rotate(30deg);
}

.controllers img{
  width: 30px;
  margin-right: 16px;
  cursor: pointer;
}


.shootBtn{
  width: 75px!important;
}

.gameOver{
  position: absolute;
  width: 400px;
  height: 535px;
  z-index: 3;
  background: url("assets/GameOver.png");
  background-size : contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.gameOver img{
  margin-top: 16px;
  width: 75px;
  cursor: pointer;
}

.restart{
  margin-top: 200px!important;
  width: 100px!important;
}

.gameOver.active{
  opacity: 1;
  visibility: visible;
}
