@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");

* {
  box-sizing: border-box;
  font-family: "Risque", cursive;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  position: relative;
  /* background-image: url('../MissionMarsFiles/assets/backgrounds/Frame.png'); */

  padding-top: 1px;

  /* background: red; */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
}
.main_container {
  width: min(100%, 400px);
  height: min(100%, 535px);
  position: relative;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sun_img {
  width: 150px;
  position: absolute;
  top: 10%;
  right: 10%;
}
.car {
  position: absolute;
  bottom: 20px;
  right: 5%;
}
.car_img {
  width: 100%;
}
.tree_div {
  width: 200px;
  position: absolute;
  bottom: 35%;
}
.tree_div > img {
  width: 100%;
}
.spawner {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.gas_image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.hide {
  display: none;
}
.oxymeter_frame {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
}
.oxymeter_fill {
  border-radius: 20px;
  height: 100%;
  background-color: #59f87c;
}
.end_screen {
  position: absolute;
  /* width: 80%;
  height: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.end_screen > p {
  font-size: 40px;
}
