@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
.welcome_container {
  width: 100vw;
  height: 90vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  background: transparent;
  overflow: hidden;
}
.avatar_container {
  flex: 1;
  display: flex;
  /* background-color: blue; */
  place-items: center;
  justify-content: center;
}
.ipad_container {
  flex: 1;
  display: flex;
  place-items: center;
  justify-content: center;

  /* background-color: brown; */
}
.ipad {
  width: min(462px, auto);
  height: min(663px, 80vh);

  z-index: 0;
  position: relative;
}
.ipad_img {
  width: 100%;
  height: 100%;
}
.avatar {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.avatar_bg {
  background-color: #b4d1c4;
  border-radius: 50%;
  padding: 25px;
  text-align: center;
  z-index: 2;
}
.avatar_img {
  position: absolute;
  width: 200px;
  left: 5rem;
  top: -6rem;
}

.welcome__username{
  position: relative;
  color: aliceblue;
  font-size: 40px;
  left: 4rem;
  top: 5rem;
}
.overlay {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.background {
  position: absolute;
  width: 60vmin;
  min-width: 400px;
  bottom: 5px;
  left: 5px;
}
.background > img {
  width: 30%;
}
.ironman {
  margin: 0px -60px;
  z-index: 5;
}
.blackp {
  z-index: 10;
}
.ipad_screen {
  width: 88%;
  height: 82%;
  position: absolute;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  top: 63px;
  left: 30px;
}
.logo_div {
  text-align: center;
}
.thumb_image {
  overflow: hidden;
  width: 55px;
  height: 55px;
  border-radius: 20px;
}
.thumb_image > img {
  width: 100%;
  margin-bottom: 5px;
}
.game_thumbnails {
  width: 70%;
  height: 60%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  overflow-y: scroll;
  overflow-x: hidden;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  scrollbar-width: thin;
  scrollbar-color: black rgb(233, 233, 233);
}
.game_thumbnails::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.game_thumbnails::-webkit-scrollbar-track {
  background: rgb(233, 233, 233); /* color of the tracking area */
}

.game_thumbnails::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}
.thumbnail {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
}
.thumbnail_link {
  height: 70px;
}
.thumbnail:hover {
  background-color: rgb(201, 199, 199);
}
.game_title {
  width: fit-content;
  font-size: 12px;
  font-family: "Bubblegum Sans", cursive;
}

#small_screen_msg {
  position: absolute;
  top: -15rem;
  display: none;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: center;
  z-index: 50;
}


@media screen and (max-width: 1100px) {
  .ipad_container {
    display: none;
  }
  .background {
    width: min(60%, 500px);
  }
  #small_screen_msg {
    display: unset;
  }
  .overlay{
   width: 400px;
  height: 400px;
  left: 10rem;
  }
  .welcome__username{
    left: 2rem;
    top: 3rem;
  }
  .avatar_img {
    position: absolute;
    width: 180px;
    left: 4rem;
    top: -6rem;
  }
}

@media screen and (max-width: 500px) {
  .overlay{
   width: 300px;
  height: 300px;
  left: 8rem;
  }
  .welcome__username{
    left: 2rem;
    top: 3rem;
    font-size: 30px;
  }
  .avatar_img {
    position: absolute;
    width: 150px;
    left: 3rem;
    top: -4rem;
  }
}
