@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Squada One', cursive;
}

body {
  margin: 0;
  padding: 0;
}

.GamePad {
  width: 400px;
  height: 535px;
  /* border: solid black 1px; */
  margin: auto;
  position: relative;

  /* background-image: url('../MissionMarsFiles/assets/backgrounds/Frame.png'); */

  padding-top: 1px;

  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* background: red; */
}


.bear__container{
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bear__container img{
  width: 75px;
}


.options{
  display: flex;
  justify-content: center;
}

.options .option{
  margin-right: 16px;
  display: flex;
  padding: 16px;
  background: white;
  border-radius: 8px;
  margin-top: 32px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 8px 10px 10px rgba(0, 0, 0, 0.25);
}

.option img{
  width: 50px;
}

.result{
  position: absolute;
  background: white;
  padding: 32px;
  width: 75%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.result.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}


.wrong__heading{
  color : #FF6969;
  text-align: center;
}

.correct__heading{
  color: #48C564;
  text-align: center;
}

.wrong__heading h1 , .correct__heading h1{
  font-weight: normal;
  font-size: 64px;
}

.result p{
  font-size: 18px;
}

.result .answers{
  margin-top: 16px;
  text-align: center;
}

.result .answers p{
  margin-top: 16px;
}

.result img{
  width: 50px;
  vertical-align: middle;
}

.result img.correct{
  width: 100px;
  margin-bottom: 16px;
}

.retry{
  text-align: center;
  margin-top: 16px;
  opacity: 0;
  visibility: hidden;
}

.retry.active{
  opacity: 1;
  visibility: visible;
}

.retry img{
  width: 120px;
  cursor: pointer;
}
