* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}

.navigation .link {
  display: flex;
}

.navigation .logo {
  width: 200px;
  height: 79px;
}

.navigation .link a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #6e6e6e;
  font-family: 'Lato', sans-serif;
  margin-right: 32px;
}

.navigation .link a p {
  margin-top: -4px;
}

.aboutPage__main .howWeWork {
  text-align: center;
  margin: 32px;
}

.aboutPage__main .hero__section .about_heading{
  background-color: #F4F4F4;
  padding: 16px;
  text-align: center;
  margin-bottom: -70px;
  position: relative;
  z-index: 2;
}

.aboutPage__main .hero__section h1 {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.aboutPage__main .howWeWork h1 {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 98px;
}

.aboutPage__main .hero__section img {
  width: 100%;
}

.aboutPage__main .roadMap {
  margin: 32px;
  text-align: center;
}

.aboutPage__main .roadMap img {
  width: 75%;
  margin: auto;
}

.aboutPage__main .faqs {
  font-family: 'Montserrat', sans-serif;
  margin: 64px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 32px;
}

.aboutPage__main .faq {
  margin-bottom: 32px;
}

.faqs p {
  font-size: 24px;
  margin-bottom: 16px;
}

.footer {
  background: url('./assets/footerback.png');
  background-size: cover;
  background-position: center;
  padding-top: 64px;
  font-family: 'Montserrat', sans-serif;
}

.getInTouch {
  padding: 32px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getInTouch p {
  font-size: 28px;
}

.getInTouch input {
  padding: 16px 64px 16px 32px;
  border-radius: 26px;
  border: 0;
  outline: 0;
  margin: 8px;
  width: 500px;
  font-size: 20px;
  margin-left: 64px;
}

.getInTouch img {
  margin-left: -56px;
}

.madeWith {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 32px;
}

.footer .links {
  display: flex;
  padding: 32px;
  justify-content: space-between;
}

.footer .links .social {
  display: flex;
  align-items: center;
}

.footer .links .social a {
  display: block;
  margin-right: 16px;
}

.footer .links ul {
  list-style: none;
}

.footer .links a {
  color: white;
  text-decoration: none;
}
