@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.aboutPage__main .howWeWork {
  text-align: center;
  margin: 32px;
}

.aboutPage__main .hero__section .about_main_container{
  display: flex;
  align-items: center;
}

.about_container1{
  position: relative;
  margin-top: 3vh;
}

.yellowbg{
  width: 50vw;
  height: 87vh;
  left: 0;
  top: 0;
}

.phoneimg{
  position: absolute;
  left: 7vw;
  top: 16vh;
  width: 85%;
  height: 90%;
}

.about_container2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-right: 3vw;
  text-align: center;
  width: 50vw;
}

.about_container2 h1{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 500;
}

.about_container2 p{
  font-size: 1.2vw;
  width: 28vw;
  font-weight: 4200;
  line-height: 26px;
}

.aboutPage__main .howWeWork h1 {
  font-weight: 400;

  font-size: 50px;
  line-height: 98px;
}

.aboutPage__main .roadMap {
  margin: 32px;
  text-align: center;
}

.aboutPage__main .roadMap img {
  width: 75%;
  margin: auto;
}

.aboutPage__main .faqs {
  margin: 64px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 32px;
}

.aboutPage__main .faq {
  margin-bottom: 32px;
}

.aboutPage__main .faqs .faq__heading {
  text-align: center;
  margin-bottom: 32px;
}

.aboutPage__main .faqs p {
  font-size: 24px;
  margin-bottom: 16px;
}

.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question i.active {
  transform: rotate(180deg);
  transition: 0.5s;
}

.question i {
  transform: none;
  transition: 0.5s;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

@media (max-width: 1300px) {
  .phoneimg{
    width: 100%;
    height: 80%;
    left: 1vw;
  }

  .about_container2 p{
    font-size: 1.2rem;
    width: 40vw;
  }
}

@media (max-width: 850px){
  .yellowbg{
    width: 60vw;
  }

  .phoneimg{
    height: 70%;
    left: 0vw;
    top: 20vh;
  }

  .about_container2 p{
    font-size: 1.2rem;
    width: 38vw;
  }
}

@media (max-width: 767px) {
  .aboutPage__main .roadMap img {
    width: 95%;
  }

  .phoneimg{
    height: 65%;
  }
}

@media (max-width: 600px) {
  .aboutPage__main .hero__section .about_main_container{
    flex-direction: column;
  }

  .yellowbg{
    width: 100vw;
  }

  .phoneimg{
    width: 90%;
  }

  .about_container2{
    margin-top: 30px;
  }

  .about_container2 h1{
    font-size: 10vw;
  }

  .about_container2 p{
    width: 60vw;
  }

  .aboutPage__main .roadMap img {
    display: block !important;
  }
}

@media (max-width: 550px) {
  .about_container2{
    margin-top: 40px;
  }
  
  .aboutPage__main .howWeWork h1 {
    font-size: 40px;
  }
  .aboutPage__main .faqs {
    margin: 64px 16px;
  }

  .aboutPage__main .faqs .faq__heading {
    font-size: 18px;
  }

  .aboutPage__main .faqs .faq .question {
    margin-bottom: 16px;
  }
  .aboutPage__main .faqs .faq p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .aboutPage__main .faqs .faq i {
    font-size: 18px;
  }
}

@media (max-width: 450px){
  .phoneimg{
    width: 100%;
    height: 70%;
    left: 0;
  }

  .about_container2 p{
    font-size: 1rem;
    width: 80vw;
  }
}