@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.aboutPage__main .hero__section .about_main_container{
  display: flex;
  align-items: center;

}

.about_container1{
  position: relative;
}

.yellowbg{
  width: 50vw;
  height: 60vh;
  left: 0;
  top: 0;
  min-height: 500px;

}

.phoneimg{
  position: absolute;
  left: 10%;
  top : 50%;
  width: 80%;
  max-width: 575px;
  transform: translateY(-40%)
}

.about_container2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-right: 3vw;
  text-align: center;
  width: 50vw;
}

.about_container2 h1{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 500;
}

.about_container2 p{
  font-size: 1.2vw;
  width: 28vw;
  font-weight: 4200;
  line-height: 26px;
}


.aboutPage__main .faqs {
  margin: 64px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 32px;
}

.aboutPage__main .faq {
  margin-bottom: 32px;
}

.aboutPage__main .faqs .faq__heading {
  text-align: center;
  margin-bottom: 32px;
}

.aboutPage__main .faqs p {
  font-size: 24px;
  margin-bottom: 16px;
}

.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question i.active {
  transform: rotate(180deg);
  transition: 0.5s;
}

.question i {
  transform: none;
  transition: 0.5s;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

@media (max-width: 1300px) {
  .phoneimg{
    width: 90%;
    height: 90%;
    left: 5vw;
  }

  .about_container2 p{
    font-size: 1.2rem;
    width: 40vw;
  }
}

@media (max-width: 1170px) {
  .phoneimg{
    height: 85%;
    left: 1vw;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .phoneimg{
    height: 80%;
  }
}

@media (max-width: 940px) {
  .phoneimg{
    height: 75%;
    top: 50%;
  }
}

@media (max-width: 885px){
  .phoneimg{
    height: 70%;
  }

  .about_container2 p{
    font-size: 1.2rem;
    width: 38vw;
  }
}

@media (max-width: 810px) {
  .phoneimg{
    height: 65%;
    top : 50%;
  }
}

@media (max-width: 767px) {
  .aboutPage__main .roadMap img {
    width: 95%;
  }

  .aboutPage__main .hero__section .about_main_container{
    flex-direction: column;
  }
  .yellowbg{
    margin-left: -50vw;
    width: 70vw;
    margin-bottom: 32px;
  }

  .phoneimg{
    width: 95vw;
    height: auto;
    top: 50%;
    left: 0;
    margin-left: -30vw;
  }

  .about_container2{
    width: 75%;
  }

  .about_container2 h1{
    font-size: 40px;
  }

  .about_container2 p{
    width: 75%;
  }
}


@media (max-width:500px) {
  .yellowbg{
    min-height: 400px;
    height: 40vh;
  }
  .about_container2{
    width: 95%;
  }

  .about_container2 p{
    width: 95%;
  }
}





/* @media (max-width: 710px) {
  .phoneimg{
    height: 55%;
    top: 26vh;
  }
}

@media (max-width: 640px) {
  .phoneimg{
    height: 50%;
    top: 26vh;
  }
}

@media (max-width: 600px) {




  .phoneimg{
    width: 100vw;
    height: 100vw;

    top: 7vh;
  }

  .about_container2{
    margin-top: 30px;
  }

  .about_container2 h1{
    font-size: 10vw;
  }

  .about_container2 p{
    width: 60vw;
  }

  .aboutPage__main .roadMap img {
    display: block !important;
  }
}

@media (max-width: 550px) {
  .about_container2{
    margin-top: 40px;
  }

  .yellowbg{
    height: 65vh;
  }

  .phoneimg{
    top: 6vh;
    width: 80vw;
    height: 80vw;
    left: 7vw;
  }


  .aboutPage__main .faqs {
    margin: 64px 16px;
  }

  .aboutPage__main .faqs .faq__heading {
    font-size: 18px;
  }

  .aboutPage__main .faqs .faq .question {
    margin-bottom: 16px;
  }
  .aboutPage__main .faqs .faq p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .aboutPage__main .faqs .faq i {
    font-size: 18px;
  }
}

@media (max-width: 500px){
  .yellowbg{
    height: 65vh;
  }

  .phoneimg{
    top: 4vh;
  }

  .about_container2 p{
    font-size: 1rem;
    width: 80vw;
  }
}

@media (max-width: 450px){
  .yellowbg{
    height: 58vh;
  }

  .phoneimg{
    top: 8vh;
  }
}

@media (max-width: 420px){
  .yellowbg{
    height: 50vh;
  }

  .phoneimg{
    top: 10vh;
  }
} */
