.heading {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  color: #202020;
  z-index: 1;
  overflow: hidden;
}

.Main {
  position: relative;
  height: 108rem;
  width: 99vw;
  margin: auto;
}

.Vector1,
.Vector2,
.Vector3,
.Vector4,
.Vector5,
.Vector6 {
  position: absolute;
}

.Vector_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.Vector_center img {
  width: 350px;
}

.Vector1,
.Vector3,
.Vector5 {
  transform: translateX(+50%);
  right: calc(50% - 340px);
}

.Vector2,
.Vector4,
.Vector6 {
  transform: translateX(-50%);
  left: calc(50% - 340px);
}

.Vector1 {
  top: 160px;
}

.Vector3 {
  top: 707px;
}

.Vector5 {
  top: 1245px;
}

.Vector2 {
  top: 440px;
}

.Vector4 {
  top: 980px;
}

.Vector6 {
  top: 1520px;
}

/* Steps */

.O1,
.O2,
.O3,
.O4,
.O5,
.O6 {
  position: absolute;
  z-index: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 100px;
  color: #ffffff;
}

.O1 {
  top: 153px;
  transform: translateX(+50%);
  right: calc(50% - 60px);
}

.O2 {
  top: 440px;
  transform: translateX(-50%);
  left: calc(50% - 60px);
}

.O3 {
  top: 707px;
  transform: translateX(+50%);
  right: calc(50% - 60px);
}

.O4 {
  top: 980px;
  transform: translateX(-50%);
  left: calc(50% - 60px);
}

.O5 {
  top: 1245px;
  transform: translateX(+50%);
  right: calc(50% - 60px);
}

.O6 {
  top: 1520px;
  transform: translateX(-50%);
  left: calc(50% - 60px);
}

/* steps text */

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
  position: absolute;
  z-index: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100px;
  color: #ffffff;
}

.step1 {
  top: 153px;
  transform: translateX(+50%);
  right: calc(50% - 350px);
}

.step2 {
  top: 440px;
  transform: translateX(-50%);
  left: calc(50% - 350px);
}

.step3 {
  top: 707px;
  transform: translateX(+50%);
  right: calc(50% - 350px);
}

.step4 {
  top: 980px;
  transform: translateX(-50%);
  left: calc(50% - 350px);
}

.step5 {
  top: 1245px;
  transform: translateX(+50%);
  right: calc(50% - 350px);
}

.step6 {
  top: 1520px;
  transform: translateX(-50%);
  left: calc(50% - 350px);
}

/* side images */

.child,
.incredibles,
.mypackage,
.parents,
.rocket,
.van {
  position: absolute;
}

.parents {
  transform: translate(-50%, -20%);
  top: 153px;
  left: calc(50% - 300px);
}

.van {
  top: 440px;
  transform: translate(+50%, -50%);
  left: calc(50% - 250px);
}

.mypackage {
  top: 707px;
  transform: translate(-50%, -30%);
  left: calc(50% - 300px);
}

.incredibles {
  top: 980px;
  transform: translate(+50%, -30%);
  left: calc(50% - 200px);
}

.child {
  top: 1245px;
  transform: translate(-50%, -30%);
  left: calc(50% - 300px);
}

.rocket {
  top: 1510px;
  transform: translate(+50%, -40%);
  left: calc(50% - 100px);
}

/* @media max-screen */

@media screen and (max-width: 1070px) {
  .Vector_center img {
    width: 222px;
  }

  .Main {
    height: 70rem;
  }

  .Main img {
    width: 222px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .Vector2,
  .Vector4,
  .Vector6 {
    left: calc(50% - 200px);
  }

  .Vector2 {
    top: 300px;
  }

  .Vector4 {
    top: 650px;
  }

  .Vector6 {
    top: 990px;
  }

  .Vector1,
  .Vector3,
  .Vector5 {
    right: calc(50% - 200px);
  }

  .Vector1 {
    top: 120px;
  }

  .Vector3 {
    top: 470px;
  }

  .Vector5 {
    top: 820px;
  }

  .O1,
  .O2,
  .O3,
  .O4,
  .O5,
  .O6 {
    font-size: 80px;
    line-height: 60px;
  }

  .O2 {
    top: 300px;
    left: calc(50% - 40px);
  }
  .O4 {
    top: 650px;
    left: calc(50% - 40px);
  }
  .O6 {
    top: 990px;
    left: calc(50% - 40px);
  }
  .O1 {
    top: 120px;
    right: calc(50% - 40px);
  }
  .O3 {
    top: 470px;
    right: calc(50% - 40px);
  }
  .O5 {
    top: 820px;
    right: calc(50% - 40px);
  }

  .step1,
  .step2,
  .step3,
  .step4,
  .step5,
  .step6 {
    font-size: 16px;
    line-height: 57px;
    color: #ffffff;
  }

  .step1 {
    top: 120px;
    right: calc(50% - 210px);
  }

  .step2 {
    top: 300px;
    left: calc(50% - 210px);
  }

  .step3 {
    top: 470px;
    right: calc(50% - 210px);
  }

  .step4 {
    top: 650px;
    left: calc(50% - 210px);
  }

  .step5 {
    top: 820px;
    right: calc(50% - 210px);
  }

  .step6 {
    top: 990px;
    left: calc(50% - 210px);
  }

  .parents {
    transform: translate(-50%, -20%);
    top: 120px;
    left: calc(50% - 180px);
  }

  .van {
    top: 300px;
    transform: translate(+50%, -50%);
    left: calc(50% - 50px);
  }

  .mypackage {
    top: 470px;
    transform: translate(-50%, -30%);
    left: calc(50% - 170px);
  }

  .incredibles {
    top: 650px;
    transform: translate(+50%, -30%);
    left: calc(50% - 50px);
  }

  .child {
    top: 820px;
    transform: translate(-50%, -30%);
    left: calc(50% - 180px);
  }

  .rocket {
    top: 990px;
    transform: translate(+50%, -40%);
    left: calc(50% - 60px);
  }
}

@media screen and (max-width: 650px) {
  .Vector_center {
    display: none;
  }

  .heading {
    font-size: 2rem;
  }

  .step1,
  .step2,
  .step3,
  .step4,
  .step5,
  .step6 {
    transform: none;
    right: none;
  }

  .O1,
  .O2,
  .O3,
  .O4,
  .O5,
  .O6 {
    display: none;
  }

  .Vector1,
  .Vector3,
  .Vector5,
  .Vector2,
  .Vector4,
  .Vector6 {
    left: 40px;
    right: 0;
    transform: none;
    transform: translateY(+80%);
  }

  .child,
  .incredibles,
  .mypackage,
  .parents,
  .rocket,
  .van {
    left: 320px;
    right: none;
    transform: none;
  }

  .step1 {
    top: 170px;
    left: 60px;
  }
  .step2 {
    top: 350px;
    left: 70px;
  }
  .step3 {
    top: 520px;
    left: 80px;
  }
  .step4 {
    top: 700px;
    left: 90px;
  }
  .step5 {
    top: 870px;
    left: 60px;
  }
  .step6 {
    top: 1040px;
    left: 120px;
  }
}

@media screen and (max-width: 525px) {
  .child img,
  .incredibles img,
  .mypackage img,
  .parents img,
  .rocket img,
  .van img {
    width: 190px;
  }
  .child,
  .incredibles,
  .mypackage,
  .parents,
  .rocket,
  .van {
    left: 280px;
  }
  .Vector1,
  .Vector3,
  .Vector5,
  .Vector2,
  .Vector4,
  .Vector6 {
    left: 20px;
  }

  .step1 {
    left: 40px;
  }
  .step2 {
    left: 50px;
  }
  .step3 {
    left: 60px;
  }
  .step4 {
    left: 70px;
  }
  .step5 {
    left: 50px;
  }
  .step6 {
    left: 120px;
  }
}
